In [1]:
import pandas as pd
from sqlalchemy import create_engine

Extract CSVs into DataFrames

In [2]:
Music_df = pd.read_csv('assets/data/Spotify_data.csv')

Music_df.head()

,valence,year,decade,acousticness,artists,danceability,duration_ms,energy,explicit,instrumentalness,key,liveness,loudness,mode,name,popularity,speechiness,tempo
0,0.29,2000,2000,0.00,['Coldplay'],0.43,266773,0.66,0,0.0,11,0.23,-7.23,1,Yellow,84,0.03,173.37
1,0.61,2000,2000,0.14,['OutKast'],0.84,270507,0.81,1,0.0,4,0.08,-5.95,0,Ms. Jackson,80,0.27,94.95
2,0.40,2000,2000,0.01,['Linkin Park'],0.56,216880,0.86,0,0.0,3,0.21,-5.87,0,In the End,84,0.06,105.14
3,0.54,2000,2000,0.01,['3 Doors Down'],0.55,233933,0.87,0,0.0,11,0.17,-5.71,0,Kryptonite,78,0.03,99.01
4,0.76,2000,2000,0.03,['Eminem'],0.95,284200,0.66,1,0.0,5,0.05,-4.24,0,The Real Slim Shady,80,0.06,104.50

#Create database connection

In [3]:
connection_string = "postgres:postgres@localhost:5432/Spotify_project"
engine = create_engine(f'postgresql://{connection_string}')

###Load DataFrames into database

In [4]:
Music_df.to_sql(name='SpotifyData', con=engine, index=True)

ValueError: Table 'SpotifyData' already exists.